dataset-toronto
vctk-txt/
pyproject.toml
__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
model_ytts/

.env
logs/
vits/
clone-voice-coqui/
clone-video/syncnet_python
clone-video/muse-exp
clone-video/EDTalk
clone-video/avatar-cloned

clone-voice-coqui/Coqui
clone-voice-coqui/CosyVoice
clone-voice-coqui/exp_result
.nfs000000000038e0d00000d18c